.version.planters /* version checker */
{
	color: #0000FE;
	background-color: #CE4A32;
}

.html
{
	background-color: #1E1E1E;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1385.849999999994px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -13px;
	padding-top: 3px;
	width: 0.01px;
}

#pu15577-3
{
	width: 0.01px;
}

#u15577-3
{
	z-index: 2;
	width: 1000px;
	min-height: 278px;
	margin-right: -10000px;
}

#u88
{
	z-index: 5;
	width: 165px;
	height: 165px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 419px;
}

#menuu22220
{
	z-index: 11;
	width: 1000px;
}

#u22228
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
}

#u22229
{
	width: 165px;
	padding-bottom: 17px;
}

#u22229:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22229:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22230-4
{
	width: 165px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u22229:hover #u22230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22229:active #u22230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22221
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 167px;
}

#u22222
{
	width: 165px;
	padding-bottom: 17px;
}

#u22229.MuseMenuActive,#u22222:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22222:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22224-4
{
	width: 165px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u22229.MuseMenuActive #u22230-4,#u22222:hover #u22224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22222:active #u22224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u26181
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 334px;
}

#u26184
{
	width: 165px;
	padding-bottom: 17px;
}

#u22222.MuseMenuActive,#u26184:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u26184:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u26187-4
{
	width: 151px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u26184:hover #u26187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u26184:active #u26187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u26186
{
	z-index: 30;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 151px;
}

#u26184:hover #u26186
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26184:active #u26186
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26189
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u26189:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26189:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26191-4
{
	width: 158px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u26189:hover #u26191-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26189:active #u26191-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26199
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u26189.MuseMenuActive,#u26199:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26199:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26202-4
{
	width: 158px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u26189.MuseMenuActive #u26191-4,#u26199:hover #u26202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26199:active #u26202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26199.MuseMenuActive #u26202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22242
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 501px;
}

#u22243
{
	width: 165px;
	padding-bottom: 17px;
}

#u26184.MuseMenuActive,#u22243:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22243:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22244-4
{
	width: 151px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u26184.MuseMenuActive #u26187-4,#u22243:hover #u22244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u22243:active #u22244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u22243.MuseMenuActive #u22244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u22245
{
	z-index: 51;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 151px;
}

#u26184.MuseMenuActive #u26186,#u22243:hover #u22245
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22243:active #u22245
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22243.MuseMenuActive #u22245
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26182,#u22247
{
	width: 166px;
	top: 34px;
}

#u22283
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u26199.MuseMenuActive,#u22283:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22283:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22285-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22283:hover #u22285-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22283:active #u22285-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22295
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22283.MuseMenuActive,#u22295:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22295:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22296-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22283.MuseMenuActive #u22285-4,#u22295:hover #u22296-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22295:active #u22296-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22302
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22295.MuseMenuActive,#u22302:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22302:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22305-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22295.MuseMenuActive #u22296-4,#u22302:hover #u22305-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22302:active #u22305-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22307
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22302.MuseMenuActive,#u22307:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22307:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22308-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22302.MuseMenuActive #u22305-4,#u22307:hover #u22308-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22307:active #u22308-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22316
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22307.MuseMenuActive,#u22316:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22316:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22319-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22307.MuseMenuActive #u22308-4,#u22316:hover #u22319-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22316:active #u22319-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22321
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22316.MuseMenuActive,#u22321:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22321:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22324-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22316.MuseMenuActive #u22319-4,#u22321:hover #u22324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22321:active #u22324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22328
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22321.MuseMenuActive,#u22328:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22328:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22329-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22321.MuseMenuActive #u22324-4,#u22328:hover #u22329-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22328:active #u22329-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22337
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22328.MuseMenuActive,#u22337:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22337:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22339-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22328.MuseMenuActive #u22329-4,#u22337:hover #u22339-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22337:active #u22339-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22342
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22337.MuseMenuActive,#u22342:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22342:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22344-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22337.MuseMenuActive #u22339-4,#u22342:hover #u22344-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22342:active #u22344-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22351
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22342.MuseMenuActive,#u22351:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22351:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22352-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22342.MuseMenuActive #u22344-4,#u22351:hover #u22352-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22351:active #u22352-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22358
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22351.MuseMenuActive,#u22358:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22358:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22361-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22351.MuseMenuActive #u22352-4,#u22358:hover #u22361-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22358:active #u22361-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22363
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22358.MuseMenuActive,#u22363:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22363:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22366-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22358.MuseMenuActive #u22361-4,#u22363:hover #u22366-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22363:active #u22366-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22370
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22363.MuseMenuActive,#u22370:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22370:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22372-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22363.MuseMenuActive #u22366-4,#u22370:hover #u22372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22370:active #u22372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22377
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22370.MuseMenuActive,#u22377:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22377:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22379-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22370.MuseMenuActive #u22372-4,#u22377:hover #u22379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22377:active #u22379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26183,#u26188,#u26198,#u22248,#u22282,#u22292,#u22299,#u22306,#u22313,#u22320,#u22327,#u22334,#u22341,#u22348,#u22355,#u22362,#u22369,#u22376,#u22383
{
	width: 166px;
}

#u22386
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22377.MuseMenuActive,#u22386:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22386:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22386.MuseMenuActive
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22388-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22377.MuseMenuActive #u22379-4,#u22386:hover #u22388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22386:active #u22388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22386.MuseMenuActive #u22388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22249
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 668px;
}

#u22250
{
	width: 165px;
	padding-bottom: 17px;
}

#u22243.MuseMenuActive,#u22250:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22250:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22252-4
{
	width: 165px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u22222.MuseMenuActive #u22224-4,#u22250:hover #u22252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22250:active #u22252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22256
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 835px;
}

#u22257
{
	width: 165px;
	padding-bottom: 17px;
}

#u22250.MuseMenuActive,#u22257:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22257:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22257.MuseMenuActive
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22260-4
{
	width: 165px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u22250.MuseMenuActive #u22252-4,#u22257:hover #u22260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22257:active #u22260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22257.MuseMenuActive #u22260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#pu43244-4
{
	width: 0.01px;
	margin-top: 25px;
}

#u43244-4
{
	z-index: 592;
	width: 1000px;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 34px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u43310
{
	z-index: 596;
	width: 42px;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/g-next-normal.png") no-repeat left top;
	background-size: contain;
}

#u43310:hover
{
	width: 42px;
	height: 46px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/g-next-rollover.png") no-repeat left top;
	background-size: contain;
}

#u43311
{
	z-index: 597;
	width: 43px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	left: 957px;
	background: transparent url("../images/p-next-normal.png") no-repeat left top;
	background-size: contain;
}

#u43311:hover
{
	width: 43px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/p-next-rollover.png") no-repeat left top;
	background-size: contain;
}

#slideshowu13410
{
	z-index: 171;
	width: 0.01px;
	height: 2029px;
	margin-top: 41px;
	position: relative;
}

#u13423
{
	position: absolute;
	width: 1000px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 39px;
}

#u13423popup
{
	z-index: 172;
}

#u13681
{
	z-index: 173;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u13690
{
	z-index: 175;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u13699
{
	z-index: 177;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 405px;
}

#u13708
{
	z-index: 179;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 605px;
}

#u13717
{
	z-index: 181;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 805px;
}

#u13681:hover,#u13690:hover,#u13699:hover,#u13708:hover,#u13717:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13726
{
	z-index: 183;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 5px;
}

#u13735
{
	z-index: 185;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 205px;
}

#u13744
{
	z-index: 187;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 405px;
}

#u13753
{
	z-index: 189;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 605px;
}

#u13762
{
	z-index: 191;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 805px;
}

#u13726:hover,#u13735:hover,#u13744:hover,#u13753:hover,#u13762:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 200px -10000px 0px 0px;
}

#u13771
{
	z-index: 193;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 5px;
}

#u13780
{
	z-index: 195;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 205px;
}

#u13789
{
	z-index: 197;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 405px;
}

#u13798
{
	z-index: 199;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 605px;
}

#u13807
{
	z-index: 201;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 805px;
}

#u13771:hover,#u13780:hover,#u13789:hover,#u13798:hover,#u13807:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 400px -10000px 0px 0px;
}

#u13816
{
	z-index: 203;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 5px;
}

#u13825
{
	z-index: 205;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 205px;
}

#u13834
{
	z-index: 207;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 405px;
}

#u13843
{
	z-index: 209;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 605px;
}

#u13852
{
	z-index: 211;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 805px;
}

#u13816:hover,#u13825:hover,#u13834:hover,#u13843:hover,#u13852:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 600px -10000px 0px 0px;
}

#u13861
{
	z-index: 213;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 5px;
}

#u13870
{
	z-index: 215;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 205px;
}

#u13879
{
	z-index: 217;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 405px;
}

#u13888
{
	z-index: 219;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 605px;
}

#u13897
{
	z-index: 221;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 805px;
}

#u13861:hover,#u13870:hover,#u13879:hover,#u13888:hover,#u13897:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 800px -10000px 0px 0px;
}

#u13906
{
	z-index: 223;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1000px;
	left: 5px;
}

#u13915
{
	z-index: 225;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1000px;
	left: 205px;
}

#u13924
{
	z-index: 227;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1000px;
	left: 405px;
}

#u13933
{
	z-index: 229;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1000px;
	left: 605px;
}

#u13942
{
	z-index: 231;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1000px;
	left: 805px;
}

#u13906:hover,#u13915:hover,#u13924:hover,#u13933:hover,#u13942:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 1000px -10000px 0px 0px;
}

#u13951
{
	z-index: 233;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1200px;
	left: 5px;
}

#u13960
{
	z-index: 235;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1200px;
	left: 205px;
}

#u13969
{
	z-index: 237;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1200px;
	left: 405px;
}

#u13978
{
	z-index: 239;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1200px;
	left: 605px;
}

#u13987
{
	z-index: 241;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1200px;
	left: 805px;
}

#u13951:hover,#u13960:hover,#u13969:hover,#u13978:hover,#u13987:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 1200px -10000px 0px 0px;
}

#u13996
{
	z-index: 243;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1400px;
	left: 5px;
}

#u14005
{
	z-index: 245;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1400px;
	left: 205px;
}

#u14014
{
	z-index: 247;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1400px;
	left: 405px;
}

#u14023
{
	z-index: 249;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1400px;
	left: 605px;
}

#u14032
{
	z-index: 251;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1400px;
	left: 805px;
}

#u13996:hover,#u14005:hover,#u14014:hover,#u14023:hover,#u14032:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 1400px -10000px 0px 0px;
}

#u14041
{
	z-index: 253;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1600px;
	left: 5px;
}

#u14050
{
	z-index: 255;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1600px;
	left: 205px;
}

#u14059
{
	z-index: 257;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1600px;
	left: 405px;
}

#u14068
{
	z-index: 259;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1600px;
	left: 605px;
}

#u14077
{
	z-index: 261;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1600px;
	left: 805px;
}

#u14041:hover,#u14050:hover,#u14059:hover,#u14068:hover,#u14077:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 1600px -10000px 0px 0px;
}

#u14086
{
	z-index: 263;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1800px;
	left: 5px;
}

#u14095
{
	z-index: 265;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1800px;
	left: 205px;
}

#u14104
{
	z-index: 267;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1800px;
	left: 405px;
}

#u14113
{
	z-index: 269;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1800px;
	left: 605px;
}

#u14122
{
	z-index: 271;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1800px;
	left: 805px;
}

#u14086:hover,#u14095:hover,#u14104:hover,#u14113:hover,#u14122:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 1800px -10000px 0px 0px;
}

#u13413
{
	position: absolute;
	width: 544px;
	height: 562px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.8999999999999997);
	top: 15px;
	left: 1380px;
	-pie-background: rgba(0,0,0,0.8999999999999997);
}

#u13413popup
{
	z-index: 273;
}

#u13678
{
	z-index: 274;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13687
{
	z-index: 276;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13696
{
	z-index: 278;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13705
{
	z-index: 280;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13714
{
	z-index: 282;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13723
{
	z-index: 284;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13732
{
	z-index: 286;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13741
{
	z-index: 288;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13750
{
	z-index: 290;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13759
{
	z-index: 292;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13768
{
	z-index: 294;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13777
{
	z-index: 296;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13786
{
	z-index: 298;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13795
{
	z-index: 300;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13804
{
	z-index: 302;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13813
{
	z-index: 304;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13822
{
	z-index: 306;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13831
{
	z-index: 308;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13840
{
	z-index: 310;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13849
{
	z-index: 312;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13858
{
	z-index: 314;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13867
{
	z-index: 316;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13876
{
	z-index: 318;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13885
{
	z-index: 320;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13894
{
	z-index: 322;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13903
{
	z-index: 324;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13912
{
	z-index: 326;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13921
{
	z-index: 328;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13930
{
	z-index: 330;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13939
{
	z-index: 332;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13948
{
	z-index: 334;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13957
{
	z-index: 336;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13966
{
	z-index: 338;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13975
{
	z-index: 340;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13984
{
	z-index: 342;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13993
{
	z-index: 344;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14002
{
	z-index: 346;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14011
{
	z-index: 348;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14020
{
	z-index: 350;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14029
{
	z-index: 352;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14038
{
	z-index: 354;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14047
{
	z-index: 356;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14056
{
	z-index: 358;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14065
{
	z-index: 360;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14074
{
	z-index: 362;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14083
{
	z-index: 364;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14092
{
	z-index: 366;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14101
{
	z-index: 368;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14110
{
	z-index: 370;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u14119
{
	z-index: 372;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13419
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 542px;
	left: 1402px;
}

#u13419popup
{
	z-index: 374;
}

#u13684-4
{
	z-index: 375;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13693-4
{
	z-index: 379;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13702-4
{
	z-index: 383;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13711-4
{
	z-index: 387;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13720-4
{
	z-index: 391;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13729-4
{
	z-index: 395;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13738-4
{
	z-index: 399;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13747-4
{
	z-index: 403;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13756-4
{
	z-index: 407;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13765-4
{
	z-index: 411;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13774-4
{
	z-index: 415;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13783-4
{
	z-index: 419;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13792-4
{
	z-index: 423;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13801-4
{
	z-index: 427;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13810-4
{
	z-index: 431;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13819-4
{
	z-index: 435;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13828-4
{
	z-index: 439;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13837-4
{
	z-index: 443;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13846-4
{
	z-index: 447;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13855-4
{
	z-index: 451;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13864-4
{
	z-index: 455;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13873-4
{
	z-index: 459;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13882-4
{
	z-index: 463;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13891-4
{
	z-index: 467;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13900-4
{
	z-index: 471;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13909-4
{
	z-index: 475;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13918-4
{
	z-index: 479;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13927-4
{
	z-index: 483;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13936-4
{
	z-index: 487;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13945-4
{
	z-index: 491;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13954-4
{
	z-index: 495;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13963-4
{
	z-index: 499;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13972-4
{
	z-index: 503;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13981-4
{
	z-index: 507;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13990-4
{
	z-index: 511;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13999-4
{
	z-index: 515;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14008-4
{
	z-index: 519;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14017-4
{
	z-index: 523;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14026-4
{
	z-index: 527;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14035-4
{
	z-index: 531;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14044-4
{
	z-index: 535;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14053-4
{
	z-index: 539;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14062-4
{
	z-index: 543;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14071-4
{
	z-index: 547;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14080-4
{
	z-index: 551;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14089-4
{
	z-index: 555;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14098-4
{
	z-index: 559;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14107-4
{
	z-index: 563;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14116-4
{
	z-index: 567;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u14125-4
{
	z-index: 571;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13421-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 547px;
	left: 1736px;
}

#u13421-4popup
{
	z-index: 575;
}

#u13416-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 547px;
	left: 1849px;
}

#u13416-4popup
{
	z-index: 579;
}

#u13411-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 542px;
	left: 1766px;
}

#u13411-4popup
{
	z-index: 583;
}

#u13417
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 17px;
	left: 1893px;
}

#u13417:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u13417:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u13418-4
{
	z-index: 588;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u43351
{
	z-index: 170;
	width: 50px;
	min-height: 25px;
	left: -188px;
	top: -1830px;
	margin-bottom: -25px;
}

#u5470
{
	z-index: 6;
	width: 1000px;
	padding-bottom: 0px;
	margin-top: 62px;
}

#u5470_position_content
{
	margin-top: -8px;
	padding-bottom: 79px;
}

#pu41507
{
	width: 0.01px;
	margin-left: 151px;
}

#u41507
{
	z-index: 163;
	width: 113px;
	height: 25px;
	margin-right: -10000px;
}

#u41507:hover
{
	width: 113px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u41495
{
	z-index: 162;
	width: 180px;
	height: 25px;
	margin-right: -10000px;
	left: 149px;
}

#u41495:hover
{
	width: 180px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u41531
{
	z-index: 165;
	width: 126px;
	height: 25px;
	margin-right: -10000px;
	left: 365px;
}

#u41531:hover
{
	width: 126px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u41519
{
	z-index: 164;
	width: 172px;
	height: 25px;
	margin-right: -10000px;
	left: 526px;
}

#u41519:hover
{
	width: 172px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu41399
{
	width: 0.01px;
	margin-left: 252px;
	margin-top: 46px;
}

#u41399
{
	z-index: 156;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
}

#u41411
{
	z-index: 157;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 86px;
}

#u41423
{
	z-index: 158;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 173px;
}

#u41435
{
	z-index: 159;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 259px;
}

#u41447
{
	z-index: 160;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 345px;
}

#u41459
{
	z-index: 161;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 431px;
}

#u41399:hover,#u41411:hover,#u41423:hover,#u41435:hover,#u41447:hover,#u41459:hover
{
	width: 65px;
	height: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43250-4
{
	z-index: 166;
	width: 639px;
	min-height: 20px;
	margin-left: 180px;
	margin-top: 15px;
}

#u5478-4
{
	z-index: 7;
	width: 251px;
	min-height: 23px;
	margin-left: 375px;
	margin-top: 12px;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

