@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stoneart';
  src: url("../fonts/dinpro font/dinpro-regular-webfont.eot?srf3rx");
  src: url("../fonts/dinpro font/dinpro-regular-webfont.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/dinpro font/dinpro-regular-webfont.ttf?srf3rx") format("truetype"), url("../fonts/dinpro font/dinpro-regular-webfont.woff?srf3rx") format("woff"), url("../fonts/dinpro font/dinpro-regular-webfont.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "stoneart", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }
}

a {
  color: #A55847;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #A55847;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "stoneart", Times, sans-serif;
  font-weight: 700;
  margin: 0 0 30px 0;
}

figure {
  margin-bottom: 2.5em;
  float: left;
  width: 100%;
}
figure figcaption {
  font-size: 16px;
  width: 80%;
  margin: 20px auto 0px auto;
  color: #b3b3b3;
  font-style: italic;
  font-family: "stoneart", Times, serif;
}
@media screen and (max-width: 480px) {
  figure figcaption {
    width: 100%;
  }
}

::-webkit-selection {
  color: #fff;
  background: #A55847;
}

::-moz-selection {
  color: #fff;
  background: #A55847;
}

::selection {
  color: #fff;
  background: #A55847;
}

#SA-page {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#SA-aside {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 16%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  /*overflow-y: scroll;*/
  background: #ffffff;
  z-index: 1001;
  /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
  /*-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
  /*-ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
  /*-o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
  /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#SA-aside.border {
  border-right: 1px solid #ffffff;
}
@media screen and (max-width: 1200px) {
  #SA-aside {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  #SA-aside {
    width: 170px;
    -moz-transform: translateX(-170px);
    -webkit-transform: translateX(-170px);
    -ms-transform: translateX(-170px);
    -o-transform: translateX(-170px);
    transform: translateX(-170px);
  }
}
#SA-aside #SA-logo {
  text-align: center;
}
#SA-aside #SA-main-menu ul {
  text-align: left;
  margin: 2.8em 0 0 1.8em;
  padding: 0;
}
@media screen and (max-width: 768px) {
  #SA-aside #SA-main-menu ul {
    margin: 0 0 1.8em 0;
  }
}
@media screen and (max-width: 1200px) {
  #SA-aside #SA-main-menu ul {
    margin: 0 0 0.5em 0;
  }
}
#SA-aside #SA-main-menu ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  line-height: 2.1;
}
#SA-aside #SA-main-menu ul li a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: 300;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 8px 8px;
  letter-spacing: .1em;
  font-family: "stoneart", Arial, sans-serif;
}
#SA-aside #SA-main-menu ul li a:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  background-color: #A55847;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#SA-aside #SA-main-menu ul li a:hover {
  text-decoration: none;
  color: black;
}
#SA-aside #SA-main-menu ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#SA-aside #SA-main-menu ul li.SA-active a {
  color: black;
}
#SA-aside #SA-main-menu ul li.SA-active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#SA-main-menu ul li:hover ul#SA-sub-menu{
  display: block;
}
#SA-main-menu ul li ul#SA-sub-menu{
  display: none;
  background: #ffffff;
  position: absolute;
  left: 65%;
  top: 10%;
  width: 80%;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  z-index: 2;
  /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
  /*-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
  /*-ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
  /*-o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
  /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);*/
}
#SA-main-menu ul li ul#SA-sub-menu li {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  text-align: left;
  line-height: 1.5;
}
#SA-main-menu ul li ul#SA-sub-menu li a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 10px;
  font-weight: 300;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "stoneart", Times, serif;
}
#SA-main-menu ul li ul#SA-sub-menu li a:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  background-color: #A55847;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#SA-main-menu ul li ul#SA-sub-menu ul li a:hover {
  text-decoration: none;
  color: black;
}
#SA-main-menu ul li ul#SA-sub-menu ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#SA-main-menu ul li ul#SA-sub-menu li.SA-active a {
  color: black;
}
#SA-main-menu ul li ul#SA-sub-menu li.SA-active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#SA-aside .SA-footer {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding: 1em;
}
@media screen and (max-width: 768px) {
  #SA-aside .SA-footer {
    position: relative;
    bottom: 0;
  }
}
#SA-aside .SA-footer span {
  display: block;
}
#SA-aside .SA-footer ul {
  padding: 0;
  margin-top: 1em;
  text-align: center;
}
#SA-aside .SA-footer ul li {
  padding: 0;
  margin: 0;
  font-size: 20px;
  display: inline;
  list-style: none;
}
#SA-aside .SA-footer ul li a {
  color: rgba(0, 0, 0, 0.7);
  padding: 4px;
}
#SA-aside .SA-footer ul li a:hover, #SA-aside .SA-footer ul li a:active, #SA-aside .SA-footer ul li a:focus {
  text-decoration: none;
  outline: none;
  color: #A55847;
}

#SA-main {
  width: 85%;
  float: right;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  #SA-main {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  #SA-main {
    width: 100%;
  }
}
#SA-main .SA-narrow-content {
  position: relative;
  width: 95%;
  margin: 4em 1em 4em 4em;
  padding: 0 0;
}
#SA-main .SA-narrow-content .SA-feature-arrow:hover{
  text-decoration: none;
  color: #A55847;
  bottom: -8%;
  font-size: 1.8em;
}
#SA-main .SA-narrow-content .SA-feature-arrow{
  position: absolute;
  right: 25%;
  bottom: -7%;
   color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  #SA-main .SA-narrow-content {
    width: 100%;
    padding: 3.5em 1em;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  #SA-main .SA-narrow-content {
    width: 100%;
    padding: 3.5em 1em;
    margin: 0 auto;
  }
}
#SA-main h3{
  font-size: 18px;
  border: 1px solid rgba(38, 41, 48, 0.91);
  border-spacing: 2px;
  padding: 2%;
  width: 70%;
  display: inline;
  color: rgba(38, 41, 48, 0.89);
  text-transform: uppercase;
}
#SA-main .SA-narrow-content p{
  font-size: small;
  line-height: 1.2;
}
#SA-main .SA-narrow-content .features p{
  width: 70%;
}
#SA-main .SA-narrow-content .SA-blog-detail p{
  font-size: 12px;
}

.SA-gallery {
  position: relative;
  margin-bottom: 7em;
  /*float: left;*/
  width: 100%;
  padding: 1em;
}
.SA-gallery .gallery-item {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  z-index: 110;
  margin: 1em 0.5em 0em 1em ;
}
.SA-gallery .gallery-item img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
@media screen and (max-width: 1200px) {
  .SA-gallery .gallery-item {
    text-align: center;
    width: 99%;
  }
  .SA-gallery .desc{
    width: 99%;
  }
  .desc-arrow {
    position: absolute;
    left: 35%;
  }
}
@media screen and (max-width: 768px) {
  .SA-gallery .gallery-item {
    text-align: center;
    margin-left: 0;
    width: 70%;
  }
  .SA-gallery .desc{
    margin-left: 0;
    width: 70%;
  }
  .SA-gallery .desc .desc-arrow {
    position: absolute;
    left: 31%;
  }
}
@media screen and (max-width: 480px) {
  .SA-gallery .gallery-item {
    width: 100%;
    margin-left: 0;
  }
  .SA-gallery .desc{
    margin-left: 0;
    width: 100%
  }
  .SA-gallery .desc .desc-arrow {
    position: absolute;
    left: 45%;
  }
}
.desc{
  margin: 0 0 2em 1em;
  padding-top: 0.5em;
  display: inline-block;
  width: 99.98%;
  border: 1px solid #3b3d40;
  opacity:1;
}
.desc h4 {
  text-align: center;
  text-transform: uppercase;
}
.desc p {
  line-height: 1;
  font-size: small;
  color: #3b3d40;
  text-align: center;
  padding-bottom: 1em;
}
.desc-arrow{
  padding: 0;
  position: absolute;
  bottom: 25px;
  left: 50%;
  display: table;
  color: #ffffff;
  z-index: 99;
  width: 50px;
  height: 20px;
  background: #000;
  text-align: center;
}
.desc-arrow a {
  color: #ffffff;
  font-weight: normal;
}
.desc-arrow:active, .desc-arrow:focus, .desc-arrow:hover {
  border: none;
  font-size: 1.1em;
  bottom: 22px;
}
.desc-arrow a:hover{
  text-decoration: none;
}
.SA-gallery .gallery-item .overlay {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 11;
  vertical-align: middle;
  padding-top: 30%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.SA-gallery .gallery-item .overlay h2, .SA-gallery .gallery-item .overlay span, .SA-gallery .gallery-item .overlay a{
  position: relative;
  z-index: 12;
  margin-bottom: 0;
  text-align: center;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.SA-gallery .gallery-item .overlay h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 10px;
  bottom: -15px;
}
@media screen and (max-width: 768px) {
  .SA-gallery .gallery-item .overlay h2 {
    font-size: 18px;
  }
}
.SA-gallery .gallery-item .overlay span {
  color: #A55847;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  bottom: -5px;
  visibility: hidden;
  opacity: 0;
}
.SA-gallery .gallery-item .overlay span .icon-long-arrow-right {
  padding: 0.1em 0.4em 0.2em 0.5em;
  font-size: 20px;
  color: #ffffff;
  background: #000;
  text-align: center;
}
.SA-gallery .gallery-item .overlay:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.SA-gallery .gallery-item:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.SA-gallery .gallery-item:hover .overlay {
  visibility: visible;
  opacity: 1;
}
.SA-gallery .gallery-item:hover .overlay:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.SA-gallery .gallery-item:hover .overlay h2 {
  bottom: 0;
}
.SA-gallery .gallery-item:hover .overlay span  {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

body.offcanvas {
  overflow-x: hidden;
}
body.offcanvas #SA-aside {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: 200px;
  background: #fff;
  z-index: 999;
  position: fixed;
}
body.offcanvas #SA-main, body.offcanvas .SA-nav-toggle {
  top: 0;
  -moz-transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}

.SA-services {
  margin-top: 5px;
}
.SA-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work-pagination {
  padding: 3em 0;
}
.work-pagination a {
  color: #000;
}
.work-pagination a:hover {
  color: #A55847;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .work-pagination span {
    display: none;
  }
}

.SA-border-bottom {
  border-bottom: 1px solid #f0f0f0;
}

.SA-testimonial {
  padding: 3em 0;
  background: #A55847;
  position: relative;
}
@media screen and (max-width: 768px) {
  .SA-testimonial {
    padding: 3em 0;
  }
}
.SA-testimonial .item {
  color: white;
  padding-left: 3em;
  padding-right: 3em;
}
@media screen and (max-width: 768px) {
  .SA-testimonial .item {
    padding-left: 0em;
    padding-right: 0em;
  }
}
.SA-testimonial .item figure {
  text-align: center;
}
.SA-testimonial .item figure img {
  max-width: inherit;
  width: 90px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.SA-testimonial .item p {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .SA-testimonial .item p {
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  .SA-testimonial .item p {
    font-size: 20px;
  }
}
.SA-testimonial .item .author {
  font-size: 16px;
  display: block;
}

.SA-counters {
  /*padding: 1em 0;*/
  background: #e6e6e6;
  background-size: cover;
  background-attachment: fixed;
}
.overlay{
  position:relative;
  padding: 1em 1em 1em 0;
  background-color: rgba(0, 0, 0, 0.70);
  z-index: 20;
}
.SA-counters h4{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
#SA-main .SA-counters .SA-narrow-content p{
  color: rgba(255, 255, 255, 0.82);
  text-align: center;
  width: 100%;
}
.SA-counters .SA-counter {
  font-size: 50px;
  display: block;
  color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  width: 100%;
  font-weight: 700;
  margin-bottom: .5em;
}
.SA-counters .SA-counter-label {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "stoneart", Times, serif;
  letter-spacing: 5px;
  margin-bottom: 2em;
  display: block;
}

.SA-lead {
  font-size: 24px;
  line-height: 1.5;
}

.SA-heading-colored {
  color: #A55847;
}

.SA-cards {
  padding: 1em 0;
  background: #e6e6e6;
}
@media screen and (max-width: 768px) {
  .SA-cards {
    padding: 1em 0;
  }
}
.SA-cards .SA-flex-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
.SA-cards .SA-flex-wrap > div {
  width: 49.5%;
  margin-right: 1%;
  background: #fff;
  padding: 30px;
  margin-bottom: 10px;
}
.SA-cards .SA-flex-wrap > div:nth-of-type(1) {
  float: left;
}
.SA-cards .SA-flex-wrap > div:nth-of-type(2) {
  float: right;
  margin-right: 0%;
}
@media screen and (max-width: 992px) {
  .SA-cards .SA-flex-wrap > div {
    width: 100%;
    margin-right: 0;
  }
}
.SA-cards .SA-flex-wrap .SA-card p:last-child {
  margin-bottom: 0;
}
.SA-cards .SA-flex-wrap .SA-card h5 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2em;
  padding: 4px 8px;
  background: #ebebeb;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.SA-counter .SA-number {
  font-size: 100px;
  color: #A55847;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: .7;
}
.SA-counter .SA-number.SA-left {
  float: left;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .SA-counter .SA-number.SA-left {
    width: 100%;
    line-height: 1.2;
  }
}
.SA-counter .SA-text {
  float: right;
  text-align: left;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .SA-counter .SA-text {
    width: 100%;
    text-align: center;
  }
}
.SA-counter .SA-text h3 {
  margin: 0;
  padding: 0;
  position: relative;
}
.SA-counter .SA-text h3.border-bottom:after {
  content: "";
  width: 50px;
}

.SA-social {
  padding: 0;
  margin: 0;
  text-align: center;
}
.SA-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.SA-social li a {
  font-size: 22px;
  color: #000;
  padding: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .SA-social li a {
    padding: 10px 8px;
  }
}
.SA-social li a:hover {
  color: #A55847;
}
.SA-social li a:hover, .SA-social li a:active, .SA-social li a:focus {
  outline: none;
  text-decoration: none;
  color: #A55847;
}

#map {
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.SA-more-contact {
  background: #fafafa;
}

.SA-feature {
  text-align: left;
  width: 100%;
  float: left;
  padding: 20px;
}
.SA-feature .SA-icon {
  float: left;
  width: 10%;
  display: block;
  margin-top: 5px;
}
.SA-feature .SA-icon i {
  color: #A55847;
  font-size: 70px;
}
@media screen and (max-width: 1200px) {
  .SA-feature .SA-icon i {
    font-size: 40px;
  }
}
.SA-feature.SA-feature-sm .SA-icon i {
  color: #A55847;
  font-size: 28px;
}
@media screen and (max-width: 1200px) {
  .SA-feature.SA-feature-sm .SA-icon i {
    font-size: 28px;
  }
}
.SA-feature .SA-text {
  float: right;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .SA-feature .SA-text {
    width: 82%;
  }
}
@media screen and (max-width: 480px) {
  .SA-feature .SA-text {
    width: 72%;
  }
}
.SA-feature .SA-text h2, .SA-feature .SA-text h3 {
  margin: 0;
  padding: 0;
}
.SA-feature .SA-text h3 {
  font-weight: 300;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.SA-heading {
  margin-top: 0;
  font-size: 25px;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  font-family: "stoneart", Arial, sans-serif;
  color: rgba(27, 15, 11, 0.81);
}
.SA-narrow-content h2:before {
    top: 0;
    margin-left: 30%;
    left: 0;
    margin-bottom: 10px;
}
.SA-narrow-content h2:after {
  bottom: 0;
    right: 0;
  margin-left: 50%;
  background-position: right;
  margin-top: 10px;
}
.SA-narrow-content h2:before, .SA-narrow-content h2:after{
    background: #1c1308;
    content: '';
    display: block;
    height: 1px;
    position: relative;
    width: 20%;

}
#SA-main .footer{
  background-color: #362B29;
  width: 100%;
  padding: 4em 4em 2em 4em;
}
.footer p, .footer a{
  color: #fff;
  font-size: small;
}
.SA-heading.SA-light {
  color: #fff;
}
.SA-heading span {
  display: block;
}
@media screen and (max-width: 768px) {
  .SA-heading {
    font-size: 30px;
    margin-bottom: 1em;
  }
}

.SA-staff img {
  margin-bottom: 1.5em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.SA-staff h3 {
  margin: 0 0 10px 0;
}
.SA-staff h4 {
  margin: 0 0 20px 0;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}

.chart {
  width: 160px;
  height: 160px;
  margin: 0 auto 30px auto;
  position: relative;
  text-align: center;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -40px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -40px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.SA-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.SA-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.SA-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.SA-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 3px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 3px solid #A55847;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: transparent;
  height: 10px;
  border: 2px solid #fff;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px !important;
}
.btn.btn-sm {
  padding: 4px 15px !important;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #A55847;
  color: #fff;
  border: 2px solid #A55847;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #88c756 !important;
  border-color: #88c756 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #A55847;
  border: 2px solid #A55847;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #A55847;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #A55847;
}

#message {
  height: 130px;
}

.SA-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.SA-nav-toggle.active i::before, .SA-nav-toggle.active i::after {
  background: #000;
}
.SA-nav-toggle.dark.active i::before, .SA-nav-toggle.dark.active i::after {
  background: #000;
}
.SA-nav-toggle:hover, .SA-nav-toggle:focus, .SA-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.SA-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #000;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all .2s ease-out;
}
.SA-nav-toggle i::before, .SA-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.SA-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}
.SA-nav-toggle.dark i::before, .SA-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.SA-nav-toggle i::before {
  top: -7px;
}

.SA-nav-toggle i::after {
  bottom: -7px;
}

.SA-nav-toggle:hover i::before {
  top: -10px;
}

.SA-nav-toggle:hover i::after {
  bottom: -10px;
}

.SA-nav-toggle.active i {
  background: transparent;
}

.SA-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.SA-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.SA-nav-toggle {
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 9999;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  padding: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .SA-nav-toggle {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */

#owl-demo img{
    display: block;
    width: 150%;
    height: 85%;
    margin: 10px;
}
#SA-main #slider{
  width: 96%;
  margin: 2em 2em 0 0;
}


/* detail page css*/
.SA-narrow-content #SA-detail h4{
  text-transform: uppercase;
  margin-left: 0.6em;
}
.SA-narrow-content #SA-detail p{
	font-size:14px;
}
.SA-narrow-content #SA-detail .img
{
	width:90%;
}
.SA-narrow-content #SA-detail .detail-text
{
	padding:2% 20% 2% 2%;
    line-height: 1.5;
	text-align:justify;
}
.SA-narrow-content #SA-detail hr
{
	height:1px;
	background-color: black;
}
.SA-narrow-content #SA-detail .col
{
	width:28%;
	float: left;

}
.SA-narrow-content #SA-detail .col h5
{
	padding:3%;
}
.SA-narrow-content #SA-detail .col img
{
	float: left;
	margin-right:2%;
}
.SA-narrow-content #SA-related-items h4{
  margin-top: 3em;
  color: black;
  text-transform: uppercase;
}
.SA-narrow-content #SA-related-items .row{
  margin-right: 1em;
}
.SA-narrow-content #owl-demo .item{
  margin: 1px;
}
.SA-narrow-content #owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
  padding: 0.4em;
}
/* detail page css*/