.version.inlay /* version checker */
{
	color: #00000E;
	background-color: #3A681D;
}

.html
{
	background-color: #1E1E1E;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1385.849999999993px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #2B2B2B;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -13px;
	padding-top: 3px;
	width: 0.01px;
}

#pu15577-3
{
	width: 0.01px;
}

#u15577-3
{
	z-index: 2;
	width: 1000px;
	min-height: 278px;
	margin-right: -10000px;
}

#u88
{
	z-index: 5;
	width: 165px;
	height: 165px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 419px;
}

#menuu22220
{
	z-index: 11;
	width: 1000px;
}

#u22228
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
}

#u22229
{
	width: 165px;
	padding-bottom: 17px;
}

#u22229:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22229:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22230-4
{
	width: 165px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u22229:hover #u22230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22229:active #u22230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22221
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 167px;
}

#u22222
{
	width: 165px;
	padding-bottom: 17px;
}

#u22229.MuseMenuActive,#u22222:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22222:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22224-4
{
	width: 165px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u22229.MuseMenuActive #u22230-4,#u22222:hover #u22224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22222:active #u22224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u26181
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 334px;
}

#u26184
{
	width: 165px;
	padding-bottom: 17px;
}

#u22222.MuseMenuActive,#u26184:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u26184:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u26187-4
{
	width: 151px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u26184:hover #u26187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u26184:active #u26187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u26186
{
	z-index: 30;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 151px;
}

#u26184:hover #u26186
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26184:active #u26186
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26189
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u26189:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26189:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26191-4
{
	width: 158px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u26189:hover #u26191-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26189:active #u26191-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26199
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u26189.MuseMenuActive,#u26199:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26199:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26202-4
{
	width: 158px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u26189.MuseMenuActive #u26191-4,#u26199:hover #u26202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26199:active #u26202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26199.MuseMenuActive #u26202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22242
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 501px;
}

#u22243
{
	width: 165px;
	padding-bottom: 17px;
}

#u26184.MuseMenuActive,#u22243:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22243:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22244-4
{
	width: 151px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u26184.MuseMenuActive #u26187-4,#u22243:hover #u22244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u22243:active #u22244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u22243.MuseMenuActive #u22244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u22245
{
	z-index: 51;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 151px;
}

#u26184.MuseMenuActive #u26186,#u22243:hover #u22245
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22243:active #u22245
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22243.MuseMenuActive #u22245
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26182,#u22247
{
	width: 166px;
	top: 34px;
}

#u22283
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u26199.MuseMenuActive,#u22283:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22283:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22285-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22283:hover #u22285-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22283:active #u22285-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22295
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22283.MuseMenuActive,#u22295:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22295:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22296-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22283.MuseMenuActive #u22285-4,#u22295:hover #u22296-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22295:active #u22296-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22302
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22295.MuseMenuActive,#u22302:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22302:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22305-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22295.MuseMenuActive #u22296-4,#u22302:hover #u22305-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22302:active #u22305-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22307
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22302.MuseMenuActive,#u22307:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22307:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22308-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22302.MuseMenuActive #u22305-4,#u22307:hover #u22308-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22307:active #u22308-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22316
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22307.MuseMenuActive,#u22316:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22316:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22319-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22307.MuseMenuActive #u22308-4,#u22316:hover #u22319-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22316:active #u22319-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22321
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22316.MuseMenuActive,#u22321:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22321:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22324-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22316.MuseMenuActive #u22319-4,#u22321:hover #u22324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22321:active #u22324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22328
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22321.MuseMenuActive,#u22328:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22328:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22329-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22321.MuseMenuActive #u22324-4,#u22328:hover #u22329-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22328:active #u22329-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22337
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22328.MuseMenuActive,#u22337:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22337:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22339-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22328.MuseMenuActive #u22329-4,#u22337:hover #u22339-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22337:active #u22339-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22342
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22337.MuseMenuActive,#u22342:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22342:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22344-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22337.MuseMenuActive #u22339-4,#u22342:hover #u22344-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22342:active #u22344-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22351
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22342.MuseMenuActive,#u22351:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22351:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22352-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22342.MuseMenuActive #u22344-4,#u22351:hover #u22352-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22351:active #u22352-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22358
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22351.MuseMenuActive,#u22358:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22358:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22361-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22351.MuseMenuActive #u22352-4,#u22358:hover #u22361-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22358:active #u22361-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22363
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22358.MuseMenuActive,#u22363:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22363:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22366-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22358.MuseMenuActive #u22361-4,#u22363:hover #u22366-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22363:active #u22366-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22370
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22363.MuseMenuActive,#u22370:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22370:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22372-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22363.MuseMenuActive #u22366-4,#u22370:hover #u22372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22370:active #u22372-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22377
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22370.MuseMenuActive,#u22377:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22377:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22379-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22370.MuseMenuActive #u22372-4,#u22377:hover #u22379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22377:active #u22379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u26183,#u26188,#u26198,#u22248,#u22282,#u22292,#u22299,#u22306,#u22313,#u22320,#u22327,#u22334,#u22341,#u22348,#u22355,#u22362,#u22369,#u22376,#u22383
{
	width: 166px;
}

#u22386
{
	width: 166px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u22377.MuseMenuActive,#u22386:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22386:active
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22386.MuseMenuActive
{
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u22388-4
{
	width: 158px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u22377.MuseMenuActive #u22379-4,#u22386:hover #u22388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22386:active #u22388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22386.MuseMenuActive #u22388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u22249
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 668px;
}

#u22250
{
	width: 165px;
	padding-bottom: 17px;
}

#u22243.MuseMenuActive,#u22250:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22250:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22252-4
{
	width: 165px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u22222.MuseMenuActive #u22224-4,#u22250:hover #u22252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22250:active #u22252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22256
{
	width: 165px;
	min-height: 34px;
	margin-right: -10000px;
	left: 835px;
}

#u22257
{
	width: 165px;
	padding-bottom: 17px;
}

#u22250.MuseMenuActive,#u22257:hover
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22257:active
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22257.MuseMenuActive
{
	width: 165px;
	min-height: 0px;
	margin: 0px;
}

#u22260-4
{
	width: 165px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u22250.MuseMenuActive #u22252-4,#u22257:hover #u22260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22257:active #u22260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#u22257.MuseMenuActive #u22260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 165px;
	margin: 0px -10000px 0px 0px;
}

#pu43242-4
{
	width: 0.01px;
	margin-top: 25px;
}

#u43242-4
{
	z-index: 408;
	width: 1000px;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 34px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u43306
{
	z-index: 412;
	width: 42px;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/g-next-normal.png") no-repeat left top;
	background-size: contain;
}

#u43306:hover
{
	width: 42px;
	height: 46px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/g-next-rollover.png") no-repeat left top;
	background-size: contain;
}

#u43307
{
	z-index: 413;
	width: 41px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	left: 959px;
	background: transparent url("../images/p-next-normal.png") no-repeat left top;
	background-size: contain;
}

#u43307:hover
{
	width: 41px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/p-next-rollover.png") no-repeat left top;
	background-size: contain;
}

#slideshowu12786
{
	z-index: 171;
	width: 0.01px;
	height: 1221px;
	margin-top: 41px;
	position: relative;
}

#u12799
{
	position: absolute;
	width: 1000px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 31px;
}

#u12799popup
{
	z-index: 172;
}

#u12942
{
	z-index: 173;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u12951
{
	z-index: 175;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u12960
{
	z-index: 177;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 405px;
}

#u12969
{
	z-index: 179;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 605px;
}

#u12978
{
	z-index: 181;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	left: 805px;
}

#u12942:hover,#u12951:hover,#u12960:hover,#u12969:hover,#u12978:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12987
{
	z-index: 183;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 5px;
}

#u12996
{
	z-index: 185;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 205px;
}

#u13005
{
	z-index: 187;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 405px;
}

#u13014
{
	z-index: 189;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 605px;
}

#u13023
{
	z-index: 191;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 805px;
}

#u12987:hover,#u12996:hover,#u13005:hover,#u13014:hover,#u13023:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 200px -10000px 0px 0px;
}

#u13032
{
	z-index: 193;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 5px;
}

#u13041
{
	z-index: 195;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 205px;
}

#u13050
{
	z-index: 197;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 405px;
}

#u13059
{
	z-index: 199;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 605px;
}

#u13068
{
	z-index: 201;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 805px;
}

#u13032:hover,#u13041:hover,#u13050:hover,#u13059:hover,#u13068:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 400px -10000px 0px 0px;
}

#u13077
{
	z-index: 203;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 5px;
}

#u13086
{
	z-index: 205;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 205px;
}

#u13095
{
	z-index: 207;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 405px;
}

#u13104
{
	z-index: 209;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 605px;
}

#u13113
{
	z-index: 211;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 600px;
	left: 805px;
}

#u13077:hover,#u13086:hover,#u13095:hover,#u13104:hover,#u13113:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 600px -10000px 0px 0px;
}

#u13122
{
	z-index: 213;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 5px;
}

#u13131
{
	z-index: 215;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 205px;
}

#u13140
{
	z-index: 217;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 405px;
}

#u13149
{
	z-index: 219;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 605px;
}

#u13158
{
	z-index: 221;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 805px;
}

#u13122:hover,#u13131:hover,#u13140:hover,#u13149:hover,#u13158:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 800px -10000px 0px 0px;
}

#u13167
{
	z-index: 223;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1000px;
	left: 5px;
}

#u13176
{
	z-index: 225;
	width: 190px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.6499999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64.99999999999999)";
	filter: alpha(opacity=64.99999999999999);
	position: relative;
	margin-right: -10000px;
	margin-top: 1000px;
	left: 205px;
}

#u13167:hover,#u13176:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 190px;
	min-height: 0px;
	margin: 1000px -10000px 0px 0px;
}

#u12789
{
	position: absolute;
	width: 544px;
	height: 562px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.8999999999999997);
	top: 185px;
	left: 1279px;
	-pie-background: rgba(0,0,0,0.8999999999999997);
}

#u12789popup
{
	z-index: 227;
}

#u12939
{
	z-index: 228;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12948
{
	z-index: 230;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12957
{
	z-index: 232;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12966
{
	z-index: 234;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12975
{
	z-index: 236;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12984
{
	z-index: 238;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12993
{
	z-index: 240;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13002
{
	z-index: 242;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13011
{
	z-index: 244;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13020
{
	z-index: 246;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13029
{
	z-index: 248;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13038
{
	z-index: 250;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13047
{
	z-index: 252;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13056
{
	z-index: 254;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13065
{
	z-index: 256;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13074
{
	z-index: 258;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13083
{
	z-index: 260;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13092
{
	z-index: 262;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13101
{
	z-index: 264;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13110
{
	z-index: 266;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13119
{
	z-index: 268;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13128
{
	z-index: 270;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13137
{
	z-index: 272;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13146
{
	z-index: 274;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13155
{
	z-index: 276;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13164
{
	z-index: 278;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u13173
{
	z-index: 280;
	width: 500px;
	height: 500px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12795
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 712px;
	left: 1301px;
}

#u12795popup
{
	z-index: 282;
}

#u12945-4
{
	z-index: 283;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u12954-4
{
	z-index: 287;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u12963-4
{
	z-index: 291;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u12972-4
{
	z-index: 295;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u12981-4
{
	z-index: 299;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u12990-4
{
	z-index: 303;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u12999-4
{
	z-index: 307;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13008-4
{
	z-index: 311;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13017-4
{
	z-index: 315;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13026-4
{
	z-index: 319;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13035-4
{
	z-index: 323;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13044-4
{
	z-index: 327;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13053-4
{
	z-index: 331;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13062-4
{
	z-index: 335;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13071-4
{
	z-index: 339;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13080-4
{
	z-index: 343;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13089-4
{
	z-index: 347;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13098-4
{
	z-index: 351;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13107-4
{
	z-index: 355;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13116-4
{
	z-index: 359;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13125-4
{
	z-index: 363;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13134-4
{
	z-index: 367;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13143-4
{
	z-index: 371;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13152-4
{
	z-index: 375;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13161-4
{
	z-index: 379;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13170-4
{
	z-index: 383;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u13179-4
{
	z-index: 387;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u12797-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 717px;
	left: 1635px;
}

#u12797-4popup
{
	z-index: 391;
}

#u12792-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 717px;
	left: 1748px;
}

#u12792-4popup
{
	z-index: 395;
}

#u12787-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 712px;
	left: 1665px;
}

#u12787-4popup
{
	z-index: 399;
}

#u12793
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 185px;
	left: 1792px;
}

#u12793:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u12793:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u12794-4
{
	z-index: 404;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u43351
{
	z-index: 170;
	width: 50px;
	min-height: 25px;
	left: -188px;
	top: -1022px;
	margin-bottom: -25px;
}

#u5470
{
	z-index: 6;
	width: 1000px;
	padding-bottom: 0px;
	margin-top: 62px;
}

#u5470_position_content
{
	margin-top: -8px;
	padding-bottom: 79px;
}

#pu41507
{
	width: 0.01px;
	margin-left: 151px;
}

#u41507
{
	z-index: 163;
	width: 113px;
	height: 25px;
	margin-right: -10000px;
}

#u41507:hover
{
	width: 113px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u41495
{
	z-index: 162;
	width: 180px;
	height: 25px;
	margin-right: -10000px;
	left: 149px;
}

#u41495:hover
{
	width: 180px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u41531
{
	z-index: 165;
	width: 126px;
	height: 25px;
	margin-right: -10000px;
	left: 365px;
}

#u41531:hover
{
	width: 126px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u41519
{
	z-index: 164;
	width: 172px;
	height: 25px;
	margin-right: -10000px;
	left: 526px;
}

#u41519:hover
{
	width: 172px;
	height: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu41399
{
	width: 0.01px;
	margin-left: 252px;
	margin-top: 46px;
}

#u41399
{
	z-index: 156;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
}

#u41411
{
	z-index: 157;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 86px;
}

#u41423
{
	z-index: 158;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 173px;
}

#u41435
{
	z-index: 159;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 259px;
}

#u41447
{
	z-index: 160;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 345px;
}

#u41459
{
	z-index: 161;
	width: 65px;
	height: 65px;
	margin-right: -10000px;
	left: 431px;
}

#u41399:hover,#u41411:hover,#u41423:hover,#u41435:hover,#u41447:hover,#u41459:hover
{
	width: 65px;
	height: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u43250-4
{
	z-index: 166;
	width: 639px;
	min-height: 20px;
	margin-left: 180px;
	margin-top: 15px;
}

#u5478-4
{
	z-index: 7;
	width: 251px;
	min-height: 23px;
	margin-left: 375px;
	margin-top: 12px;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

