{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>StoneArt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by markatix.com" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="markatix.com" />


        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'images/logo/logo-colored.ico' %}">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	</head>
	<body>

	<div id="SA-page">
		<a href="#" class="js-SA-nav-toggle SA-nav-toggle"><i></i></a>
		<aside id="SA-aside" role="complementary" class="border js-fullheight">

			<h1 id="SA-logo"><a href="index.html"><img src="{% static 'images/logo/logo-colored.png' %}" alt="Stone Art" style="width:50%" ></a></h1>
			<nav id="SA-main-menu" role="navigation">
				<ul>
					<li class="SA-active"><a href="index.html">Home</a></li>
					<li><a href="#">Products</a>
						<ul id="SA-sub-menu">
                            {% if cat %}
                                 {% for z in cat %}
							<li><a href="{% url 'app.views.category' category_name_url=z.name_url %}">{{ z.name }}</a></li>
                                 {% endfor %}
                            {% endif %}
{#							<li><a href="product.html">Architectural Stone</a></li>#}
{#							<li><a href="product.html" >Balinese Carvings</a></li>#}
{#							<li><a href="product.html">Bass Relief Work</a></li>#}
{#							<li><a href="product.html">Bathroom Accessories</a></li>#}
{#							<li><a href="product.html">Bird Baths</a></li>#}
{#							<li><a href="product.html">Fireplace</a></li>#}
{#							<li><a href="product.html">Fountains</a></li>#}
{#							<li><a href="product.html">Furniture</a></li>#}
{#							<li><a href="product.html">Garden series</a></li>#}
{#							<li><a href="product.html">Gift Items</a></li>#}
{#							<li><a href="product.html">Inlay</a></li>#}
{#							<li><a href="product.html">Light</a></li>#}
{#							<li><a href="product.html">Planters</a></li>#}
{#							<li><a href="product.html">Temples</a></li>#}
{#							<li><a href="product.html">Statues</a></li>#}
						</ul>
					</li>
					<li><a href="about.html">Our Work</a></li>
					<li><a href="about.html">Media</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>

			<div class="SA-footer">
				<a href="tel:011-26802705">Tel No :- 011-26802705</a>
				<br><br><br>
				<ul>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="SA-main">
            <div class="SA-narrow-content" style="width: 100%; margin-left: 0;">
                <div id="SA-detail" class="container">
                    <div class="row">
                        {% if pro %}
                        {% for x in pro %}
                        <div class="col-lg-6">
                            <img src="{{ x.imglink }}" class="img-responsive">
                        </div>
                        <div class="col-lg-6">
                            <div class="container-fluid">
                                <h4>
                                    Markatix.com
                                </h4>
                                <p class="detail-text">
                                         {{ x.description }}
                                </p>

                                <hr>
                                <div class="container-fluid" style="padding:0px;">
                                    <div class="col">
                                        <img src="images/detail images/1.jpg" width="25">
                                        <h5>Enquiry</h5>
                                    </div>
                                    <div class="col">
                                        <img src="images/detail images/2.jpg" width="25">
                                        <h5>Share</h5>
                                    </div>
                                    <div class="col">
                                        <img src="images/detail images/3.jpg" width="25">
                                        <h5>Item Dimension</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>

                <div id="SA-related-items">
                    <div class="container-fluid">
                        <h4>Related Items</h4>
                        <div class="row">
                            <div id="owl-demo" class="owl-carousel owl-theme">
                              <div class="item"><img src="{% static "images/Related Items/person1.jpg" %}"></div>
                                <div class="item"><img src="{% static "images/Related Items/person1.jpg" %}"></div>
                              <div class="item"><img src="{% static "images/Related Items/person1.jpg" %}"></div>
                              <div class="item"><img src="{% static "images/Related Items/person1.jpg" %}"></div>
                              <div class="item"><img src="{% static "images/Related Items/person1.jpg" %}"></div>
                              <div class="item"><img src="{% static "images/Related Items/person1.jpg" %}"></div>
                              <div class="item"><img src="{% static "images/Related Items/person1.jpg" %}"></div>
                              <div class="item"><img src="{% static "images/Related Items/person1.jpg" %}"></div>
                              <div class="item"><img src="{% static "images/Related Items/person1.jpg" %}"></div>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>

            <div class="footer" style="/*background-color: #362B29;">
				<div class="row">
					<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
						<p><a href="#">About</a></p>
						<p><a href="#">Our Work</a></p>
						<p><a href="#">Product</a></p>
						<p><a href="#">Contact Us</a></p>
					</div>
					<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
						<p> Stoneart, 348, Sultanpur <br>
							MG Road, New Delhi- 110030 <br>
							India | Tel No.:- 011-26802705
						</p>
						<p>
							Mailing<br>
							Email: _______________________<br>
						</p>
					</div>
					<div class="col-md-3 animate-box text-center" data-animate-effect="fadeInLeft">
						<p><a href="#">Twitter <br></a></p>
						<p><a href="#">Facebook <br></a></p>
						<p><a href="#">Instagram <br></a></p>
					</div>
					<div class="col-md-3 animate-box text-center" data-animate-effect="fadeInLeft">
						<img src="{% static "images/logo/logo-colored.png" %}" width="100px">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
						<br>
						<p class="SA-lead text-center">
							<small>&copy; 2016 Stone Art. All Rights Reserved</small> <span> | Designed by <a href="http://markatix.com/" target="_blank">Markatix.com</a> </span></small>
						</p>
					</div>
				</div>
			</div>


		</div>
	</div>



<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- MAIN JS -->
	<script src="{% static 'js/main.js' %}"></script>

    <script>
    $(document).ready(function() {

      $("#owl-demo").owlCarousel({

          autoPlay: 3000, //Set AutoPlay to 3 seconds

          items : 4,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3],
          nav:true
//        navText: [
//          "<i class='icon-chevron-left' style='color: black;'></i>",
//          "<i class='icon-chevron-right' style='color: black;'></i>"
//          ]

      });

    });
    </script>

	</body>
</html>

